<div class="container ">
  <div class="d-flex flex-column gap-2">
  <nav class="navbar bg-info navbar-dark    justify-content-center rounded  ">
    <a role="button" class="navbar-brand text-primary fw-bold    ms-3" routerLink=" ">fun for nerds</a>
  </nav>

  <app-input-example (clickEvent)="emitClickEvent($event)" (inputEvent)="emitEvent($event)"></app-input-example>

  <div class="d-flex justify-content-between ">
    <app-odd-length-words [showOddInput]="oddInput" [oddWords]="userInputOddWords" ></app-odd-length-words>
<app-even-length-words [showEvenInput]="evenInput" [evenWords]="userInputEvenWords"></app-even-length-words> 
  </div>
  </div>
</div>
